# Backup files
*.bak
*.~*
*.tmp

# Often used for temporary storage
*.zip

# Contains compiled files and output
*.dcu
*.exe
*.dll
*.map
*.stat

# Delphi files to ignore
*.drc
*.dsk
*.identcache
*.local
*.map
#  https://stackoverflow.com/questions/2326172/delphi-res-files-and-git
#  which suggests to add only the project.res file (manually) if .rc files are present to rebuild .res files
*.res

# General files to be ignored/files from other program
*.jbf
*.py
*.xml

# Contains local copies and work-in-progress
Versions/**
WIP/**
ToDo/**
Snapshots/**
Temp/**

# I've decided not to include all of the sub-folders in the repository
Backup/**
BarCode39/**
Barcode2of5/**
dEXIF/**
MSXML2/**
NumericalRecipes13/**
#The \OBJ sub-folder is used with Jpeg_Ops.pas
Synopse/**


# Various support sub-folders
__history/**
__recovery/**

